<div class="header">
  <h1>Сборник кулинарных рецептов с гибкой заменой
    <span>
      <img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/apple/237/cut-of-meat_1f969.png" alt="">
        мясо
    </span>

    <span>
      <img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/apple/237/peanuts_1f95c.png" alt="">
        орехи
    </span>

    <span>
      <img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/apple/237/glass-of-milk_1f95b.png" alt="">
        молоко
    </span> рецептов
</h1>
</div>

<div class="background_main">
  <main>
    <img src="/../images/plate.png" alt="">
    <h2>
      Refood — сборник кулинарных рецептов, с гибкой системой замены некоторых ингредиентов, подбирающихся под предпочтения пользователя
    </h2>
  </main>

  <footer>
    <h3>
      Узнайте о запуске
      <img src="" alt="">
      сервиса,
      <br>
      подпишитесь
      <img src="" alt="">
      на рассылку
    </h3>
    <%= link_to "About", about_path %>
  </footer>

</div>
