<%= link_to "Blog", posts_path %>

<section class="section__one">
  <header>
    <h1>
      Refood&nbsp;&mdash; это умная
      <span>
        кулинарная книга
      </span>
      , подстраивающая ингредиенты под ваши требования выбора блюд. Это могут быть как идеологические, физиологические или этические
      <span>
         ограничения
      </span>
      , так и&nbsp;<span>
        отсутствие
      </span>
        необходимых продуктов в&nbsp;холодильнике. Сервис поможет вам избавиться от&nbsp;насущных проблем, с&nbsp;которыми вы&nbsp;регулярно сталкиваетесь при подборе рецепты и&nbsp;на&nbsp;этапе приготовления. Теперь вы&nbsp;сможете полностью отдаться процессу
      <span>
         готовки</span>, а&nbsp;мы
      <span>
         сэкономим
      </span>
       ваше время и&nbsp;позаботимся обо всем остальном!
    </h1>
  </header>

  <div class="main">
    <h4>
      Целевая аудитория
    </h4>

    <div class="main__card">
      <div class="main__card__one">
        <h5>Основная</h5>
        <p>Люди, имеющие этические, физиологические или религиозные требования к еде</p>
      </div>
      <div class="main__card__two">
        <h5>Косвенная</h5>
        <p>Люди, которые готовят дома</p>
      </div>
    </div>

  </div>
</section>

<section class="section__two">
  <div class="main__two">
    <h4>Выбранные для реализации фичи</h4>
  </div>

</section>
