// Place all the styles related to the about controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.section__one {
  background: var(--main-yellow);
  font-family: "Inter";
  font-weight: bold;
}

header {
  height: 90vh;
  border-radius: 0 0 70px 70px;

  background: var(--main-grey);


  h1 {
    width: 60vw;
    font-size: 34px;
    line-height: 150%;

    position: absolute;
    top: 10vh;
    left: 10vw;
  }

  span {
    padding: 8px 14px;
    color: var(--main-grey);
    background: var(--main-black);
  }
}

.main {
  position: relative;
  height: 100vh;
  z-index: 3;

  border-radius: 0 0 70px 70px;
  background: var(--main-yellow);

    h4 {
      font-size: 60px;

      position: absolute;
      top: 25vh;
      left: 15vw;
    }

  .main__card {
    display: flex;
    flex-flow: row;
    margin-left: 15vw;

    position: absolute;
    top: 35vh;



      .main__card__one,
      .main__card__two {
        width: 430px;
        height: 280px;
        border-radius: 20px;
        margin-right: 110px;

        background: var(--main-grey);

          h5 {
            font-size: 40px;
            font-weight: bold;
            padding: 36px 40px;
          }

          p {
            font-size: 24px;
            font-weight: 400;
            padding: 24px 40px;
            line-height: 142%;
          }
      }
  }
}

.section__two {
  background: var(--main-grey);
  font-family: "Inter";
  font-weight: bold;

  .main__two {
    height: 110vh;
    transform: translateY(-10vh);

    background: var(--main-black);
    border-radius: 0 0 70px 70px;

    h4 {
      font-size: 60px;
      width: 40vw;
      line-height: 122%;

      position: absolute;
      top: 33vh;
      left: 15vw;
      color: var(--main-grey);
    }

    .main__two__p {
      position: absolute;
      top: 56vh;
      margin-left: 15vw;
    }

    p {
      font-size: 24px;
      padding: 12px 16px;
      margin-bottom: 8px;

      border-radius: 30px;
      color: var(--main-black);
      background: var(--main-grey);
    }
  }

  .main__three {
    height: 100vh;
    position: relative;
    border-radius: 0 0 70px 70px;
    z-index: 2;

    background: var(--main-grey);

      h4 {
        font-size: 60px;
        width: 40vw;
        line-height: 122%;

        position: absolute;
        top: 15vh;
        left: 15vw;
        color: var(--main-black);
      }

      p {
        font-family: "Inter";
        font-size: 24px;
        font-weight: 400;
        line-height: 142%;

        position: absolute;
        top: 30vh;
        width: 50vw;

        margin-left: 15vw;
        color: var(--main-black);
      }

      .main__three__card_one {
        position: absolute;
        width: 120vw;
        bottom: 15vh;

          span {
            font-size: 80px;
            padding: 1%;


            margin-left: 30px;
            color: var(--main-grey);
            background: var(--main-black);
          }

            .img__main__three__card {
              width: 54px;
            }
      }

      .main__three__card_two {
        position: absolute;
        width: 120vw;
        bottom: 35vh;

          span {
            font-size: 80px;
            padding: 1%;


            margin-left: 30px;
            color: var(--main-grey);
            background: var(--main-black);
          }

            .img__main__three__card {
              width: 54px;
            }
      }
  }
}
.section__three {
  font-family: "Inter";

  .main__four {
    height: 115vh;
    transform: translateY(-10vh);

    border-radius: 0 0 70px 70px;
    background: var(--main-yellow);

    h4 {
      font-size: 60px;
      font-weight: bold;
      width: 40vw;
      line-height: 122%;

      position: absolute;
      top: 40vh;
      left: 15vw;
      color: var(--main-black);
    }

    p {
      font-size: 24px;
      font-weight: 400;
      line-height: 142%;

      position: absolute;
      top: 63vh;
      width: 28vw;

      margin-left: 15vw;
      color: var(--main-black);
    }

    .img__phone {
      width: 500px;
      position: absolute;
      bottom: 0;
      right: 15vw;
    }
  }

  .main__five {
    height: 115vh;
    position: relative;
    border-radius: 0 0 70px 70px;


    h4 {
      font-size: 60px;
      font-weight: bold;
      width: 40vw;
      line-height: 122%;

      position: absolute;
      top: 15vh;
      left: 15vw;
      color: var(--main-black);
    }

    .main_five_card {
      width: 25vw;

      position: absolute;
      top: 32vh;
      left: 15vw;

      border-radius: 20px;
      background: var(--main-yellow);

        .main_five_card__img {
          // transform: translate(50%, 50%);
        }

        .main__five__ingredients {
          font-family: "Inter";
          font-weight: bold;
          margin-left: 24px;
          margin-bottom: 48px;

          p {
            font-size: 18px;
            margin: 30px 0;

            span {
              font-size: 24px;
              padding: 8px 20px 10px 20px;
              vertical-align: middle;
              margin-right: 12px;

                .main__five__ingredients__img {
                  height: 24px;
                }
            }
          }
        }
      }

      .main__five__group {
        display: flex;
        flex-flow: column;
        margin-bottom: 120px;

        position: absolute;
        top: 50vh;
        left: 50vw;

        .main__five__group__p {
          margin-bottom: 20vh;

          h4 {
            position: static;
            left: 0;
          }

          p {
            font-family: "Inter";
            font-size: 24px;
            font-weight: bold;
            vertical-align: middle;
            margin-top: 7vh;

            span {
              padding: 8px 20px 10px 20px;

              .main__five__group__p__img {
                height: 24px;
                vertical-align: middle;
              }
            }
            .main__five__group__p__img__arrow {
              padding: 0 10px;
            }

          }
        }
      }
    }

}


.section__four {

  .main__seven {
    background: var(--main-yellow);

    h4 {
      font-size: 60px;
      font-weight: bold;
      width: 40vw;
      line-height: 122%;

      // position: absolute;
      // top: 15vh;
      // left: 15vw;
      color: var(--main-black);
    }

    p {
      font-size: 24px;
      font-weight: 400;
      line-height: 142%;
    }
  }

}













// /
