// Place all the styles related to the partners controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@font-face {
  font-family: "GlyphWorld-Meadow";
  src: url("GlyphWorld-Meadow.ttf") format("truetype");
}

@font-face {
  font-family: "GlyphWorld-Mountain";
  src: url("GlyphWorld-Mountain.ttf") format("truetype");
}

@font-face {
  font-family: "Base&Bloom";
  src: url("Base&Bloom-Base&Bloom-Trial.ttf") format("truetype");
}


body {
  background: var(--main-white);
  overflow-x: hidden;
}



.partners__header {
  height: 80vh;
  background: var(--main-green);

  .logo_bw {
    padding: 7%;
  }

  .logo_bw_a {
    width: 150px;
    height: 30px;

    padding: 7%;
    margin: 2%;

    position: absolute;
    top: 0;
    left: 0;
    background: none;
  }

  h1 {
    font-family: "Inter";
    font-size: 58px;
    font-style: normal;
    font-weight: 500;
    line-height: 54px;
    letter-spacing: -0.03em;
    text-align: left;
    padding: 7%;

    span {
      background: none;
      color: var(--main-yellow);
    }
  }


  p {
    font-family: "Inter";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    letter-spacing: -0.03em;
    text-align: left;

    width: 70vw;
    padding: 5% 7%;
  }

  a {
    font-family: "Inter";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: center;
    text-decoration: none;

    margin: 0% 7%;
    padding: 20px 30px;
    border-radius: 300px;

    position: absolute;
    top: 62vh;

    background: var(--main-black);
    color: var(--main-white);
  }
}

.partners__advantages {
  background: var(--main-yellow);

  .partners__advantages__section {
    background: var(--main-white);
  }

  h1 {
    font-family: "Inter";
    font-size: 58px;
    font-style: normal;
    font-weight: 500;
    line-height: 91%;
    letter-spacing: -0.03em;
    text-align: left;
    padding: 12% 7% 0 7%;
  }

  h3 {
    font-family: "Inter";
    font-size: 58px;
    font-style: normal;
    font-weight: 500;
    line-height: 54px;
    letter-spacing: -0.03em;
    text-align: left;
    padding: 7%;
  }

  p {
    font-family: "Inter";
    font-size: 38px;
    font-style: normal;
    font-weight: 500;
    line-height: 44px;
    letter-spacing: -0.03em;
    text-align: left;

    padding: 0 7% 24% 7%;

    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;

    span {
      color: var(--main-purple);
    }
  }

  .partners__advantages__div {
    h2 {
      font-family: "Inter";
      font-size: 38px;
      font-style: normal;
      font-weight: 500;
      line-height: 44px;
      letter-spacing: -0.03em;
      text-align: left;

      padding: 0 7%;
      margin: 12% 0;

      -webkit-hyphens: auto;
      -moz-hyphens: auto;
      -ms-hyphens: auto;

      span {
        color: var(--main-purple);
      }
    }

    h2:last-child {
      padding-bottom: 24%;
    }
  }
}

.partners__form {
  background: var(--main-purple);

  h1 {
    font-family: "Inter";
    font-size: 58px;
    font-style: normal;
    font-weight: 500;
    line-height: 91%;
    letter-spacing: -0.03em;
    text-align: left;
    padding: 7%;
    padding-top: 14%;
  }

  p {
    font-family: "Inter";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    letter-spacing: -0.03em;
    text-align: left;

    width: 85vw;
    padding: 0 7%;
  }
}

@media (min-width: 768px) {
  .partners__header {
    height: 90vh;
    h1 {
      font-family: "Inter";
      font-size: 108px;
      font-style: normal;
      font-weight: 500;
      line-height: 98px;
      letter-spacing: -0.055em;
      text-align: left;

      position: absolute;
      top: 6%;
    }


    p {
      width: 60vw;
      position: absolute;
      top: 60%;
      font-size: 18px;
    }

    .logo_bw_a {
      z-index: 10;
    }

    a {
      position: absolute;
      top: 72vh;
      left: 0;

      font-size: 18px;
    }
  }

  .partners__advantages {
    h1 {
      font-size: 108px;
      line-height: 98px;

      padding: 12% 7% 3% 7%;
    }

    .partners__advantages__div {
      h2 {
        margin: 6% 0;
        -webkit-hyphens: none;
        -moz-hyphens: none;
        -ms-hyphens: none;
      }

      h2:last-child {
        padding-bottom: 14%;
      }
    }

    h3 {
      font-size: 108px;
      line-height: 98px;
    }

    p {
      padding: 0 7% 14% 7%;
      -webkit-hyphens: none;
      -moz-hyphens: none;
      -ms-hyphens: none;
    }
  }

  .partners__form {
    h1 {
      font-family: "Inter";
      font-size: 108px;
      font-style: normal;
      font-weight: 500;
      line-height: 98px;
      letter-spacing: -0.055em;
      text-align: left;
      padding: 12% 5% 7% 7%;
    }

    p {
      width: auto;
      font-size: 44px;
      line-height: 48px;
    }
  }
}

@media (min-width: 1024px) {
  .partners__header {
    height: 100vh;

    .logo_bw {
      padding: 4% 7%;
    }

    .logo_bw_a {
      margin: 3%;
      height: 72px;
      padding: 3%;
    }

    h1 {
      width: 94vw;
      font-size: 5.3em;
      line-height: 91%;

      top: 6%;
    }

    p {
      font-size: 22px;
      top: 50%;
    }

    a {
      font-size: 22px;
      padding: 30px 40px;
      top: 73vh;
    }
  }

  .partners__advantages {
    position: relative;

    h1 {
      position: sticky;
      top: 0;

      font-size: 22px;
      padding: 7% 0% 22% 7%;

      width: 50vw;
    }

    .partners__advantages__div {
      margin-top: -31%;

      h2 {
        margin: 3% 0;
        margin-left: 40vw;

        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        -ms-hyphens: auto;
      }

      h2:last-child {
        padding-bottom: 12%;
      }
    }
  }

}

@media (min-width: 1280px) {
  .partners__header {
    height: 110vh;

    .logo_bw_a {
      margin: 2%;
      height: 32px;
      padding: 3%;
    }

    h1 {
      font-size: 120px;
    }

    p {
      top: 60%;
    }

    a {
      top: 80vh;
    }
  }

  .partners__advantages {

    .partners__advantages__div {
      margin-top: -33%;

      h2:last-child {
        padding-bottom: 5%;
      }
    }
    .partners__advantages__section {
      padding-bottom: 6%;

      h1 {
        padding: 7% 0% 26% 7%;
      }
    }

    h3 {
      padding: 9% 7% 4.5% 7%;
    }

    p {
      width: 80vw;
      padding-bottom: 14%;
    }
  }

  .partners__form {
    h1 {
      padding: 9% 7% 4.5% 7%;
    }
  }

  // .partners__advantages :last-child {
  //   padding-bottom: auto;
  // }

}

@media (min-width: 1440px) {
  .partners__header {
    .logo_bw {
      padding: 2% 7%;
    }

    .logo_bw_a {
      margin: 2%;
      height: 28px;
      padding: 1.5%;
    }

    h1 {
      font-size: 140px;
      top: -2%;
    }

    p {
      top: 63vh;
    }
  }

  .partners__form {
    h1 {
      font-size: 143px;
      line-height: 91%;

      padding: 9% 7% 4.5% 7%;
    }

    p {
      width: 90vw;
      font-size: 52px;
      line-height: 124%;
    }
  }

  .partners__advantages {

    .partners__advantages__section {
      padding-bottom: 0;
    }

    h3 {
      width: 80vw;
      padding: 9% 7% 4.5% 7%;
    }

    p {
      width: 90vw;
      font-size: 52px;
      line-height: 124%;
    }

    .partners__advantages__div {
      > h2 {
        font-size: 52px;
        line-height: 124%;
      }

      h2:last-child {
        padding-bottom: 14%;
      }
    }
  }
}


@media (min-width: 1600px) {
  .partners__header {
    p {
      top: 51vh;
    }
    a {
      top: 71vh;
    }
  }

  .partners__advantages {
    .partners__advantages__div {
      margin-top: -27%;
    }
    .partners__advantages__section {
      h1 {
        padding: 7% 0% 21% 7%;
      }
    }
  }

}










































//
