// Place all the styles related to the partners controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


body {
  background: var(--main-white);
  overflow-x: hidden;
}

.partners__header {
  height: 80vh;
  background: var(--main-green);

  .logo_bw {
    padding: 7%;
  }

  .logo_bw_a {
    width: 150px;
    height: 30px;

    padding: 7%;
    margin: 2%;

    position: absolute;
    top: 0;
    left: 0;
    background: none;
  }

  h1 {
    font-family: "Inter";
    font-size: 58px;
    font-style: normal;
    font-weight: 500;
    line-height: 54px;
    letter-spacing: -0.03em;
    text-align: left;
    padding: 7%;

    span {
      background: none;
      color: var(--main-yellow);
    }
  }

  p {
    font-family: "Inter";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    letter-spacing: -0.03em;
    text-align: left;

    width: 70vw;
    padding: 5% 7%;
  }

  a {
    font-family: "Inter";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: center;

    margin: 0% 7%;
    padding: 20px 30px;

    position: absolute;
    top: 62vh;
  }
}

.partners__advantages {
  background: var(--main-white);

  h1 {
    font-family: "Inter";
    font-size: 58px;
    font-style: normal;
    font-weight: 500;
    line-height: 91%;
    letter-spacing: -0.03em;
    text-align: left;
    padding: 12% 7% 0 7%;
  }

  h2 {
    font-family: "Inter";
    font-size: 38px;
    font-style: normal;
    font-weight: 500;
    line-height: 44px;
    letter-spacing: -0.03em;
    text-align: left;

    padding: 0 7%;
    margin: 12% 0;

    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;

    span {
      color: var(--main-purple);
    }
  }
}

.partners__form {
  padding-bottom: 5vh;
  background: var(--main-purple);

  h1 {
    font-family: "Inter";
    font-size: 58px;
    font-style: normal;
    font-weight: 500;
    line-height: 91%;
    letter-spacing: -0.03em;
    text-align: left;
    padding: 7%;
  }

  p {
    font-family: "Inter";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    letter-spacing: -0.03em;
    text-align: left;

    width: 85vw;
    padding: 0 7%;
  }
}

@media (min-width: 768px) {
  .partners__header {
    height: 90vh;
    h1 {
      font-family: "Inter";
      font-size: 108px;
      font-style: normal;
      font-weight: 500;
      line-height: 98px;
      letter-spacing: -0.055em;
      text-align: left;

      position: absolute;
      top: 6%;
    }


    p {
      width: 60vw;
      position: absolute;
      top: 60%;
      font-size: 18px;
    }

    .logo_bw_a {
      z-index: 10;
    }

    a {
      position: absolute;
      top: 72vh;
      left: 0;

      font-size: 18px;
    }
  }

  .partners__advantages {
    h1 {
      font-size: 108px;
      line-height: 98px;

      padding: 12% 7% 3% 7%;
    }

    h2 {
      margin: 6% 0;
    }
  }

  .partners__form {
    h1 {
      font-family: "Inter";
      font-size: 108px;
      font-style: normal;
      font-weight: 500;
      line-height: 98px;
      letter-spacing: -0.055em;
      text-align: left;
      padding: 7% 5% 5% 7%;
    }

    p {
      width: 60vw;
      font-size: 18px;
    }
  }
}

@media (min-width: 1024px) {
  .partners__header {
    height: 100vh;

    .logo_bw {
      padding: 4% 7%;
    }

    h1 {
      width: 94vw;
      font-size: 5.3em;
      line-height: 91%;

      top: 3%;
    }

    p {
      font-size: 22px;
    }

    a {
      font-size: 22px;
      padding: 30px 40px;
      top: 79vh;
    }
  }

  .partners__advantages {
    h1 {
      padding: 7% 7% 3% 7%;
    }

    h2 {
      margin: 3% 0;

      -webkit-hyphens: none;
      -moz-hyphens: none;
      -ms-hyphens: none;
    }
  }

  .partners__advantages :last-child {
    margin-bottom: 8%;
  }

  .partners__form {
    p {
      font-size: 22px;
    }
  }
}

@media (min-width: 1440px) {
  .partners__header {
    .logo_bw {
      padding: 2% 7%;
    }

    h1 {
      font-size: 140px;

      top: -2%;
    }

    p {
      top: 63vh;
    }
  }

  .partners__advantages {
    h1 {
      font-size: 143px;
      line-height: 91%;

      padding: 9% 7% 2% 7%;
    }

    h2 {
      font-size: 64px;
      line-height: 112%;

      width: 82vw;

      margin: 5% 0;
    }

    .partners__advantages :last-child {
      margin-bottom: 12%;
    }
  }

  .partners__form {
    h1 {
      font-size: 143px;
      line-height: 91%;

      padding: 9% 7% 2% 7%;
    }

    p {
      width: 50vw;
      padding: 3% 7% 0 7%;
    }
  }

}










































//
