// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body {
  background: whitesmoke !important;
}

// .top_menu {
//   display: flex !important;
// }



.test {
  font-family: "Inter";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: left;

  margin: 7vw 0vw 3vw 20vw;

  color: var(--main-black);
}

.btn_new-post {
  font-family: "Inter";
  padding: 20px 30px;
  margin: 7vw 5vw 0 0vw;

  position: absolute;
  top: 0;
  right: 0;

  text-decoration: none;
  border-radius: 300px;

  color: var(--main-black);
  background: gainsboro;
}


.btn__back {
  margin: 5vh;
}

.show__post__btn__back {
  font-family: "Inter";
  font-size: 14px;

  position: absolute;
  top: 7vw;;
  left: 30vw;

  text-decoration: none;
  padding-top: 20px;

  color: #646464;
}

.edit__post__btn__back {
  font-family: "Inter";
  padding: 20px 30px;
  margin: 7vw 5vw 0 0vw;

  position: absolute;
  top: 0;
  right: 0;

  text-decoration: none;
  border-radius: 300px;

  color: var(--main-black);
  background: gainsboro;
}


@mixin show__post {
  font-family: "Inter";
  margin-left: 30vw;
  width: 50vw;
  color: var(--main-black);
}

.show__name {
  @include show__post;
  line-height: 140%;
  font-size: 20px;
  opacity: 0.6;

  margin-top: 15vh;
}

.show__name__pre {
  display: none;
}

.show__title {
  @include show__post;
  font-size: 40px;
  font-weight: bold;
  font-weight: 500;
  margin-top: 5px;
}

.show__title__pre {
  display: none;
}

.show__img {
  margin-left: 30vw;
}

.show__time {
  @include show__post;
  font-weight: 500;
  font-size: 20px;
  margin-top: 5px;
}

// .show__time__pre {
//   display: none;
// }

.show__category {
  @include show__post;
  font-weight: 500;
  font-size: 20px;
  margin-top: 24px;
  line-height: 1.5;
}

.show__ingredients {
  @include show__post;
  font-weight: 500;
  font-size: 20px;
  margin-top: 24px;
  line-height: 1.5;
}

.show__ingredients_pre {
  display: none;
}

.show__content {
  @include show__post;
  font-weight: 500;
  font-size: 20px;
  margin-top: 24px;
  margin-bottom: 120px;
  line-height: 1.25;
}

.show__content__pre {
  display: none;
}


.posts__main {
  font-family: "Inter";
  margin-left: 20vw;

  thead {
    font-weight: 500;
    font-size: 18px;

    tr {
      padding: 30px;

      th {
        padding-right: 90px;
        text-align: left;
      }
    }
  }

  tbody {
    font-size: 18px;
    line-height: 22px;
    font-weight: normal;
    tr {
      vertical-align: baseline;

      td {
        vertical-align: middle;
        padding-right: 30px;

        a {
          text-decoration: none;
          color: var(--main-black);
        }

        a:hover {
          color: #414141;
        }
      }
    }
  }
}

.show__like__count {
  display: flex;

  .show__like__count__tasty {
    font-family: "Inter";
    font-size: 18px;

    margin-left: 30vw;

    input {
      font-family: "Inter";
      font-size: 18px;

      width: 120px;
      height: 44px;

      border: 0;
      border-radius: 300px;
      margin-top: 16px;

      background: lightgray;

    }

    .show__like__count__btn {
      font-family: "Inter";
      font-size: 18px;

      width: 120px;
      height: 44px;

      border: 0;
      border-radius: 300px;
      margin-top: 16px;

      background: lightgray;
    }
  }



  .show__like__count__yummy {
    font-family: "Inter";
    font-size: 18px;

    margin-left: 30px;

    .show__like__count__yummy__btn {
      font-family: "Inter";
      font-size: 18px;

      width: 120px;
      height: 44px;

      border: 0;
      border-radius: 300px;
      margin-top: 16px;

      background: lightgray;
    }
  }

}
















// ghj
