body {
  background-color: var(--main-grey);
  color: var(--main-black);
  // margin: 33px;
}

body, p, ol, ul, td {
  font-family: "Inter", verdana, arial, helvetica, sans-serif;
  font-size: 20px;
  line-height: 24px; }

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

a {
  font-family: "Inter";
  font-weight: bold;
  text-decoration: none;
  padding: 10px 20px;
  margin: 10px;
  color: var(--main-white);

  background: var(--main-black);
  border-radius: 50px;
}

a:hover {
  text-decoration: none;
  background: var(--main-yellow);
}

footer {
  a:hover {
    color: var(--main-yellow);
    background: none;
  }
}

table {
  font-weight: 500;
  margin-top: 12vh;
  text-align: left;
  border-radius: 50px;
  background: var(--main-white);
}

table td:nth-of-type(1) {
	width: 400px;
  padding-left: 40px;
}

table td:nth-of-type(2) {
	width: 300px;
}

table td:nth-of-type(3) {
	width: 100px;
}

table td:nth-of-type(5) {
	width: 30px;
  padding: 0;
}

table td:nth-of-type(6) {
	width: 30px;
  padding: 0;
}

table td:nth-of-type(7) {
	width: 30px;
  padding-right: 20px;
}

th {
  font-family: "Inter";
  font-weight: bold;
  padding-top: 50px;
}

th:nth-child(1) {
  padding: 30px 40px; }


td {
  // padding: 0 30px 34px 0px;
  padding: 0 15px 0 0;
  vertical-align: middle;
}

div.field,
div.actions {
  margin-bottom: 10px; }

#notice {
  color: green; }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0; }

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px -7px 0;
  background-color: #c00;
  color: #fff; }

#error_explanation ul li {
  font-size: 12px;
  list-style: square; }

label {
  display: block; }
