// Place all the styles related to the Subscribers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


@mixin mailer {
  font-family: 'Inter';
  font-weight: 500;
  font-size: 14px;

  width: 85vw;
  height: 10vh;
  border-radius: 500px;

  // padding: 7%;
}


.new_subscriber{
  #subscriber_email{
    @include mailer;
    font-size: 14px;
    text-align: center;
    border: 5px solid var(--main-black);
    color: var(--main-black);
    background-color: var(--main-purple);
    margin: 7% 0 3% 7%;
  }
}
.new_subscriber{
  input{
    @include mailer;
    border: none;
    margin: 0 7%;
    color: var(--main-white);
    background-color: var(--main-black);
  }
  // input:hover{
  //   @include mailer;
  //   background-color: var(--main-yellow);
  // }
}


@media (min-width:768px) {

  @mixin mailer {
    font-size: 18px;
  }

  .new_subscriber {
    input {
      font-size: 18px;
    }

    #subscriber_email {
      @include mailer;
      font-size: 18px;
    }
  }
}

@media (min-width: 1024px) {
  .new_subscriber {
    #subscriber_email {
      @include mailer;
      height: 20vh;
      font-size: 22px;
    }
    input {
      height: 20vh;
      font-size: 22px;
    }
  }


}






















//
