// Place all the styles related to the Subscribers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


@mixin mailer {
  font-family: 'Inter';
  font-weight: bold;
  font-size: 20px;

  width: 85vw;
  height: 20vh;
  border-radius: 500px;

  margin-left: 50vw;
  margin-bottom: 5vh;
  transform: translateX(-50%);
}


.new_subscriber{
  #subscriber_email{
    @include mailer;
    text-align: center;
    background-color: var(--main-black);
    border: 10px solid var(--main-yellow);
    color: var(--main-yellow);
  }
}
.new_subscriber{
  input{
    @include mailer;
    border: none;
    background-color: var(--main-grey);
  }
  input:hover{
    @include mailer;
    background-color: var(--main-yellow);
  }
}
