// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@font-face {
  font-family: 'Inter';
  src: font-url('../fonts/Inter-Bold.ttf') format('truetype');
}

:root {
  --main-yellow: #FFD401;
  --main-black: #222222;
  --main-grey: #F1F1F1;
  --main-white: #000000;
}

body {
  background: var(--main-grey);
  overflow-x: hidden;
}

span {
  width: 310px;
  height: 90px;
  border-radius: 100px;
  background: var(--main-grey);
}

.header {
  height: 90vh;
  background: var(--main-yellow);
  text-align: center;
  border-radius: 0px 0px 70px 70px;
}

.header {
    h1 {
      font-family: 'Inter';
      font-size: 50px;
      width: 80vw;

      position: absolute;
      top: 40vh;
      left: 50vw;
      transform: translate(-50%, -50%);
    }
}

.background_main {
  background: var(--main-black);
}

main {
  height: 100vh;
  border-radius: 0px 0px 70px 70px;
  background: var(--main-grey);
}

main {
    h2 {
      font-family: 'Inter';
      font-weight: bold;
    }
}

footer {
  height: 100vh;
  background: var(--main-black);
}








// .
