<div class="navbar-container">
  <div class="navbar-block">
    <div class="logo-container">
      <%= image_tag 'layout_icons/logo', class: 'logo-image'%>
    </div>
    <div class="action-container">
      <div class="action">
        <%= image_tag 'layout_icons/search', class: 'logo-image'%>
      </div>
      <div class="action">
        <%= image_tag 'layout_icons/bookmark', class: 'logo-image'%>
      </div>
      <div class="action">
        <%= image_tag 'layout_icons/setting', class: 'logo-image'%>
      </div>
    </div>
  </div>
</div>
